Footer {
  background-color: var(--tertiary-color);
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  height: 8vh;
  place-content: center;
  font-size: 0.8em;
}

.Footer__copyright, .Footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer__copyright {
  gap: 0.4em;
}

.Footer__credit {
  text-align: center;
}

.Footer__socials {
  gap: 0.6em;
}

.Footer__socials > a {
  color: var(--text-color);
}